.terraform*
vendor/
terraform.tfstate*
.terraform.lock.hcl
.makefile
makefile
acctoken.txt
client/acctoken.txt
zoom/acctoken.txt

terraform-provider-*
credentials.json
*.exe
*.tf

*.iml
*.terraform*
*.terraform/
planfile*
*tfstate*
*.tfplan*
*backend.config
errored.tfstate
*.idea